<configuration>
    <appender name="info.log" class="ch.qos.logback.core.FileAppender">
        <file>logs/info.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="debug.log" class="ch.qos.logback.core.FileAppender">
        <file>logs/debug.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.example.Info" level="info" additivity="false">
        <appender-ref ref="info.log" />
    </logger>

    <logger name="org.example.Debug" level="debug" additivity="false">
        <appender-ref ref="debug.log" />
    </logger>

    <root level="info">
        <appender-ref ref="info.log" />
    </root>

</configuration>