<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Cat's house</title>
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Age</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="cat: ${cats}">
                <td th:text = "${cat.name}"></td>
                <td th:text = "${cat.breed}"></td>
                <td th:text = "${cat.age}"></td>
                <td><a th:href="@{'/edit-form/' + ${cat.id}}" />edit</td>
                <td><a th:href="@{'/delete/' + ${cat.id}}" />delete</td>
            </tr>
        </table>
        <a href="/create-form">Add new cat</a>
    </body>
</html>